.field {
  background-color: white;
}

.right {
  border-right: 2px solid #000 !important;
}

.top {
  border-top: 2px solid #000 !important;
}

.left {
  border-left: 2px solid #000 !important;
}

.bottom {
  border-bottom: 2px solid #000 !important;
}