.f1 {
  border-left: 2px solid;
  border-top: 2px solid;
}

.f2 {
  border-top: 2px solid;
}

.f3 {
  border-top: 2px solid;
}

.f4 {
  border-top: 2px solid;
}

.f5 {
  border-top: 2px solid;
}

.f6 {
  border-top: 2px solid;
}

.f7 {
  border-top: 2px solid;
}

.f8 {
  border-top: 2px solid;
}

.f9 {
  border-top: 2px solid;
  border-right: 2px solid;
}

.f10 {
  border-left: 2px solid;
}

.f19 {
  border-left: 2px solid;
}

.f28 {
  border-left: 2px solid;
}

.f37 {
  border-left: 2px solid;
}

.f46 {
  border-left: 2px solid;
}

.f55 {
  border-left: 2px solid;
}

.f64 {
  border-left: 2px solid;
}

.f73 {
  border-left: 2px solid;
}

.f18 {
  border-right: 2px solid;
}

.f27 {
  border-right: 2px solid;
}

.f36 {
  border-right: 2px solid;
}

.f45 {
  border-right: 2px solid;
}

.f54 {
  border-right: 2px solid;
}

.f63 {
  border-right: 2px solid;
}

.f72 {
  border-right: 2px solid;
}

.f81 {
  border-right: 2px solid;
  border-bottom: 2px solid;
}

.f80 {
  border-bottom: 2px solid;
}

.f79 {
  border-bottom: 2px solid;
}

.f78 {
  border-bottom: 2px solid;
}

.f77 {
  border-bottom: 2px solid;
}

.f76 {
  border-bottom: 2px solid;
}

.f75 {
  border-bottom: 2px solid;
}

.f74 {
  border-bottom: 2px solid;
}

.f73 {
  border-bottom: 2px solid;
}

.f3 {
  border-right: 2px solid;
}

.f12 {
  border-right: 2px solid;
}

.f21 {
  border-right: 2px solid;
}

.f30 {
  border-right: 2px solid;
}

.f39 {
  border-right: 2px solid;
}

.f48 {
  border-right: 2px solid;
}

.f57 {
  border-right: 2px solid;
}

.f66 {
  border-right: 2px solid;
}

.f75 {
  border-right: 2px solid;
}

.f6 {
  border-right: 2px solid;
}

.f15 {
  border-right: 2px solid;
}

.f24 {
  border-right: 2px solid;
}

.f33 {
  border-right: 2px solid;
}

.f42 {
  border-right: 2px solid;
}

.f51 {
  border-right: 2px solid;
}

.f60 {
  border-right: 2px solid;
}

.f69 {
  border-right: 2px solid;
}

.f78 {
  border-right: 2px solid;
}

.f19 {
  border-bottom: 2px solid;
}

.f20 {
  border-bottom: 2px solid;
}

.f21 {
  border-bottom: 2px solid;
}

.f22 {
  border-bottom: 2px solid;
}

.f23 {
  border-bottom: 2px solid;
}

.f24 {
  border-bottom: 2px solid;
}

.f25 {
  border-bottom: 2px solid;
}

.f26 {
  border-bottom: 2px solid;
}

.f27 {
  border-bottom: 2px solid;
}

.f46 {
  border-bottom: 2px solid;
}

.f47 {
  border-bottom: 2px solid;
}

.f48 {
  border-bottom: 2px solid;
}

.f49 {
  border-bottom: 2px solid;
}

.f50 {
  border-bottom: 2px solid;
}

.f51 {
  border-bottom: 2px solid;
}

.f52 {
  border-bottom: 2px solid;
}

.f53 {
  border-bottom: 2px solid;
}

.f54 {
  border-bottom: 2px solid;
}